{% extends "SymfonierClientBundle::main_layout.html.twig" %}

{% block content %}
     <div class="jumbotron">
            <div class="container">
                <h2>Welcome to Symfonier</h2>
                <p>
                Symfonier is a ready to go symfony2 stack, It's including:
                <ul>
                    <li>composer</li>
                    <li>twitter bootstrap</li>
                    <li>fos rest</li>
                    <li>fos user</li>
                    <li>sonata admin panel</li>
                    <li>mongodb support</li>
                </ul>
                </p>                
            </div>
        </div>
{% endblock %}
